* {
    font-family: "product sans";
}

.text-blue {
    color: #1A73E8;
}
.bg-blue {
    background: #1A73E8;
}

p {
    text-align: left;
    border-radius: 0.8rem;
    color: rgb(0, 0, 0);
    padding: 0.3rem;
}